MONGODB_URI=
MONGO_POOL_STORAGE_SCOPE=

CRON_SECRET=replace-with-a-long-random-secret
PRIVY_APP_ID=
PRIVY_APP_SECRET=
OLIO_WALLET_DEPLOYER_SECRET=
OLIO_ACCOUNT_WASM_HASH=

CHANNELS_API_KEY=
CHANNELS_BASE_URL=https://channels.openzeppelin.com/testnet

CCTP_OPERATOR_SECRET=
CIRCLE_IRIS_URL=https://iris-api-sandbox.circle.com
CIRCLE_API_KEY=
FEE_QUOTE_SIGNING_SECRET=

CCTP_ROUTE_MANIFEST=
CCTP_SESSION_KEY=
CCTP_WORKER_ENABLED=false
CCTP_SOURCE_RPC_URLS=
CCTP_IRIS_TIMEOUT_MS=10000
CCTP_IRIS_RPS=10
CCTP_WORKER_INTERVAL_MS=5000
POOL_INDEXER_INTERVAL_MS=60000


FEE_QUOTE_SIGNER_PUBLIC_KEY=
FEE_RECIPIENT=

SUMSUB_MODE=off
SUMSUB_APP_TOKEN=
SUMSUB_SECRET_KEY=
SUMSUB_WEBHOOK_SECRET=
SUMSUB_WEBHOOK_ALGORITHM=HMAC_SHA256_HEX
SUMSUB_INDIVIDUAL_LEVEL=
SUMSUB_COMPANY_LEVEL=
SUMSUB_EXPECTED_CLIENT_ID=
SUMSUB_TIMEOUT_MS=15000
VERIFICATION_POLICY_VERSION=1
VERIFICATION_WORKER_ENABLED=false
VERIFICATION_OPERATOR_PRIVY_IDS=
VERIFICATION_WORKER_INTERVAL_MS=15000
